<!-- ======= Seção de Introdução ======= -->
<div id="home" class="intro route bg-image" style="background-image: url(assets/img/intro-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">Gustavo Malimpensa</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Desenvolvedor Web,
                    Web Designer, Desenvolvedor Front-End ,Desenvolvedor Back-End</span><strong class="text-slider"></strong></p>
            </div>
        </div>
    </div>
</div><!-- Fim Introdução -->

<main id="main">

    <!-- ======= Seção Sobre ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img [src]="person.url" class="img-fluid rounded b-shadow-a" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Nome: </span> <span>{{ person.name }}</span></p>
                                            <p><span class="title-s">Profissão: </span> <span>{{ person.profession }}</span></p>
                                            <p><span class="title-s">E-mail: </span> <span>{{ person.email }}</span></p>
                                            <p><span class="title-s">Telefone: </span> <span>{{ person.phone }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="skill-mf">
                                    <p class="title-s">Skills</p>
                                    <iframe src="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" width="100%" height="300">
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            Sobre mim
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        Meu nome é Gustavo e sou estudante do quarto semestre de Análise e Desenvolvimento de Sistemas na Faculdade Claretiano. Sou uma pessoa apaixonada por programação e desenvolvimento web.
                                    </p>
                                    <p class="lead">
                                        Trabalho constantemente na minha aprendizagem autodidata, com a ajuda das diferentes ferramentas tecnológicas que atualmente interagem e intervêm na transformação e crescimento do mundo digital.
                                    </p>
                                    <p class="lead">
                                        Tenho foco no desenvolvimento web fullstack e também em aplicações de página única (SPA), seu desempenho, entre outros tópicos, atualmente estou aprendendo diferentes bibliotecas e frameworks para realizar múltiplos projetos de software com mais rapidez e facilidade.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Fim da Seção -->
</main>