<!-- ====== Seção serviços ======= -->
<section id="service" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center pt-5">
                    <h3 class="title-a text-light">
                        Serviços
                    </h3>
                    <p class="subtitle-a text-light">
                        Estes são alguns serviços em que posso ajudá-lo
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-monitor"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Designer Web</h2>
                        <p class="s-description text-center">
                            Design e protótipo de aplicações web com base na usabilidade e experiência do usuário
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-code-working"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Desenvolvimento Web</h2>
                        <p class="s-description text-center">
                            Desenvolvimento completo de sites e sistemas de acordo com suas necessidades.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Design Responsivo</h2>
                        <p class="s-description text-center">
                            Adaptabilidade de aplicativos e sites a diferentes interfaces e dispositivos, como celulares e tablets.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Fim da Seção Serviços -->